.pp_color {
  min-width: 50px;
  min-height: 50px;
  width: 50px;
  height: 50px;
  border-radius: 50px 50px 50px 50px;
  border-color: black;
  border-style: solid;
  overflow: hidden;
}

.profilepic {
  width: 10%;
  height: 10%;
}

.user-menu{
    .user-info{
        height: 100px;
        width: 250px;
        box-shadow: none !important;
        img{
            border-radius: 60%;
            width: 90%;
            height: 90%;
            border: 1px solid rgba(0, 0, 0, 0.12);
        }
        h2{
            font-size: 16px;
            font-weight: 400;
        }
        h3{
            font-size: 14px;
            font-weight: 400;
        }
        p{
            font-size: 12px;
        }
    }
    .mat-menu-item{
        font-size: 14px;
        height: 36px;
        line-height: 36px;
    }
}
