<app-content-header
  [icon]="'insert_chart'"
  [title]="'Barbicon'"
  [hideBreadcrumb]="false"
  [hasBgImage]="true"
  [class]="'pb-4'"></app-content-header>

<div fxLayout="column" fxLayout.gt-sm="row wrap" class="p-2">
  <div fxFlex="50" class="p-2">
    <mat-card>
      <mat-card-header fxLayoutAlign="center center">
        <mat-card-subtitle><h2>Habit Profile</h2></mat-card-subtitle>
      </mat-card-header>
      <div class="w-100 h-300p">

      </div>
    </mat-card>
  </div>
  <div fxFlex="50" class="p-2">
    <mat-card>
      <mat-card-header fxLayoutAlign="center center">
        <mat-card-subtitle><h2>Connections</h2></mat-card-subtitle>
      </mat-card-header>
      <div class="w-100 h-300p">

      </div>
    </mat-card>
  </div>
</div>
